/* *{
    border: red solid 1px;
} */
html {
    background-color: #f2f2f2;
}
body {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

.drop-shadow-text{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    margin: 0;
}



.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
gap: 10px;
    margin-left: 30px;

}

.boldedProductName, .boldedProductCost {
    font-size: 28px;
}

.listOfTags {
    color: #8B8B8B;
    font-size: 16px;
}

header {
    text-align: left;
    width: 100%;
    height: 167px;
    margin: 0;
    padding: 0;
    background-image: url(Images/shopping-cover.jpg);
    background-size: cover;
    background-position: center;
}
.product-item {
    margin: 0;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    padding: 15px 0 25px 0;
    border-bottom: 1px solid #ccc;
    /* background-color: #f8f8f8; */
}

.product-img {
    width: 106px;
    height: 144px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

#products-list{
    margin: 30px auto;
    padding: 0;
    width: 90%;
    
}
main {
    margin: 0;
    padding: 0;
}

.add-to-cart {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    background-image: url(Images/AddProduct.svg);
    background-size: 17px 18.5px;
    background-color: white;
    border: 1px solid #DEDEDE;
    background-position: center;
    background-repeat: no-repeat;
}

.middle-button-arrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.item-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 1em;
    padding-top: 2em;
}
.checkout-summary{
    padding-bottom: 2rem;
}
.checkout-title{
    text-align: center;
}

.checkout-summary-price{
    margin: 0 auto;
    border-top: 2px solid black;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
}

.checkout-button {
    width: 80%;
    height: 50px;
    background-color: #38182F;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.item-in-cart {
    margin: 0;
    display: flex;   
}

.products-in-cart {
    list-style-type: none;
}

.remove-from-cart {
    background: none;
    border: none;
    color: #BBBBBB;
}

.product-in-cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.promo-code-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.promo-code-input{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #757575;
    justify-content: space-between;
    border-radius: 4px;
}

.promo-input {
    height: 50px;
    width: 100%;
    border: none;
    padding: 0 1em;
    outline: none;
}

.apply-button {
    height: 50px;
    border: none;
    font-size: 20px;
    background: none;
    color: #757575;
    padding: 0 1em;
}

.invalid-promocode-message{
    color: #FF0000;
    font-size: 16px;
    margin: 1rem 0;
    text-align: center;
}

.already-have-promotion-applied{
    color: #FF0000;
    font-size: 16px;
    margin: 1rem 0;
    text-align: center;
}

.checkout-promotional-code {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: 1rem 1.5rem;
    padding: 0;
    background-color: #ECECEC; 
    color: #696969; 
    border-radius: 10px; 

}

.remove-promo-code{
    background: none;
    border: none;
    color: #696969;
    margin-right: 0.5rem;
}

.promo-code-used{
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}

.promocode-applied-text {
    color: red;
}

.promocode-discounted-value {
    color: red;
}